<% layout('layouts/boilerplate.ejs') %>
<h1>Edit entry</h1> 
<form action="/campground/<%=campground._id%>?_method=PUT" method="POST">
<div>
    <label for="title">Title</label>
    <!-- group content together xxx[title]-->
    <input type="text" id="title" name="campground[title]" value="<%=campground.title%>">
</div>
<div>
    <label for="location"></label>Location</label>
    <!-- group content together xxx[title]-->
    <input type="text" id="location" name="campground[location]" value="<%=campground.location%>">
</div>
<button>Update</button>
</form>
<footer>
    <a href="/campground/<%=campground._id%>">Back to campgorund</a>
</footer>